<h2>Edit post</h2>

<legend>
  <%= form_for @post do |f| %>

  <div>
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>
  <div>
    <%= f.label :body %>
    <%= f.text_area :body %>
  </div>
  <div>
    <%= f.select :category_id, @category.collect {|cat| [cat.name, cat.id]}, {:include_blank => "Select One"} %>
  </div>

  <div>
    <%= f.submit "Save post" %>
  </div>


  <% end %>
</legend>
<hr>

<%= link_to "Go Back", post_path %>