<h2><%= @post.title %></h2>

<small><%= @post.created_at.strftime("%b %d, %Y") %></small>
<% if @post.admin_user.present? %>
  <small>by <%= @post.admin_user.name %></small>
<% end %>

<article><%= @post.body %></article>

<p class="category">Category: <%= link_to @post.category.name, @post.category %></p>

<%= link_to "Go to Posts", posts_path %> | 
<%= link_to "Delete this post", @post, :confirm => "Are you sure you want to delete the post?", :method => :delete %>