<!DOCTYPE html>
<html>
<head>
  <title>RubyBlog</title>
  <link href="https://unpkg.com/nes.css@0.0.2/css/nes.min.css" rel="stylesheet" />
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="container">
  <div class="flash">
    <% flash.each do |key, value| %>
      <div class="flash-item"><%= value %></div>
    <% end %>
  </div>
  <%= yield %>
</div>

</body>
</html>
