<!DOCTYPE html>
<html>
<head>
  <title>RubyBlog</title>
  <link href="https://unpkg.com/nes.css@0.0.2/css/nes.min.css" rel="stylesheet" />
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="container">
  <div class="topbar">
    <nav>
      <span>></span>
      <%= link_to "Home", root_path %>
      <%= link_to "Posts", posts_path %>
      <%= link_to "Categories", categories_path %>
      <%= link_to "About", about_path %>
      <%= link_to "Resources", :controller => :pages, :action => :resources %>
      <%= link_to "Contact", :controller => :pages, :action => :contact %>
    </nav>
    <div class="search">
      <%= form_for @search do |f| %>
        <%= f.text_field :title_or_body_contains %>
        <%= f.submit "Search" %>
      <% end %>
    </div>
  </div>
  <div class="flash">
    <% flash.each do |key, value| %>
      <div class="flash-item"><%= value %></div>
    <% end %>
  </div>
  <%= yield %>
</div>

</body>
</html>
